.formInput{
    padding: 10px  20px 10px 0;
    margin-bottom: 10px;
    border: none;
    border-bottom:1px solid var(--color-grey);
    outline: none;
    width: 100%;
    position: relative;
}
.formInputGroup{
    position: relative;
}
.formInputError{
    font-size: 10px;
    color: #f03232;
}
.inputImage{
    width: 100px;
    object-fit: contain;
    height: 100px;
}
textarea{
    height: 100px;
}
.radio{
    display:flex;
    flex-direction: row;
}
.radioInputGroup{
    display:flex;
}
.radio input{
    margin-right: 10px;
}
.inputDateWrap small{
    font-size: 10px;
    color: var(--color-silver);
}