.table{
	width: 100%;
	border-collapse: collapse;
}

.table th:first-child{
    border-top-left-radius: 10px;
}
.table th:last-child{
    border-top-right-radius: 10px;
}
.table td{
	color: var(--color-darkblue);
  border-bottom:1px solid #FAFBFC;
}
.table .bold{
	font-family: var(--font-nexabold);
}
.table td:first-child{
	display:table-cell;
}
.table td,.table th{
  padding:12px 15px;
  text-align: left;
  font-size:16px;
}

.table th{
	background-color: var(--color-lightblue);
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color:#FAFBFC;
}

.tableAction{
	display: flex;
	justify-content:flex-end;
}
.tableWidgetBtn{
	margin: 0 5px;
	outline: none;
	cursor: pointer;
	display:flex;
	align-items:center;
	flex-direction: row;
	padding: 10px;
	border-radius: 5px;
	border: none;
	transition: all .3s;
	background-color:var(--color-grey)

}
.tableWidgetBtn:hover{
	background-color:var(--color-darkblue);
	color :var(--font-white)
}
.infoBox{
	display:flex;
	align-items:center;
}
.memberAvatar{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}
.tableNoResult td {
	width: 100%;
	height: 100%;
	text-align: center;
}
.activeColumn{
	display:flex;
	align-items: center;
	justify-content:center;
}
.activeColumn p{
	margin-right: 5px;
}
.passwordColumn{
	text-align: left;
	border: none;
	outline: none;
	background-color:transparent;
}
.memberName p:last-child{
	font-size: 11px;
	margin: 3px 0;
}
@media(max-width: 1024px){
	.passwordColumn{
	text-align: right;

	}
	.activeColumn{
	justify-content:flex-end;

	}
	.infoBox{
		justify-content:flex-end;
		flex-direction: column;
	align-items:flex-end;

	}
	.memberAvatar{
		margin-right: 0;
		margin-bottom: 10px;
	}
	.table td:first-child{
		display:none;
	}
	.table thead{
		display: none;
	}
	.table td:first-child {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	
	}
	.table td:last-child {
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	
	}
	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		/* padding-left: 50%; */
		font-size: 13px;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:13px;
		font-weight: bold;
		text-align: left;
	}
	.tableWidgetBtn{
		padding: 5px;
	}
}


/*responsive*/

