.inputGroup {
  display: flex;
  align-items: center;
  color: var(--color-darkblue);
  position: relative;
}

.forgotLink {
  float: right;
  margin: 10px 0;
  color: var(--color-darkblue);
  font-weight: 700;
  text-decoration: none;
}
.authButtonGroup {
  margin: 20px 0;
  width: 100%;
}
.seperationButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  color: var(--color-silver);
}
.sepLine {
  width: 45%;
  height: 1px;
  margin: 20px 0;
  background: var(--color-grey);
}
a {
  color: var(--color-darkblue);
}

.authError{
  color: rgb(153, 38, 38);
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0 20px 0;
}